.horizontal-menu .nav.nav-pills {
	background: #fff;
	/* color:#fff; 
	border-bottom: 1px solid #eee;*/
}
.horizontal-menu .nav.nav-pills > li > a {
	color: #333;
	border-top: none;
}
.horizontal-menu .nav.nav-pills > li.active > a, .horizontal-menu .nav.nav-pills > li > a:hover, .horizontal-menu .nav.nav-pills > li > a:focus, .horizontal-menu .dropdown-menu > li > a:hover, .horizontal-menu .dropdown-menu > li > a:focus, .horizontal-menu .dropdown-menu > li > a:active {
	background: #419AD5;
	border: none;
	color: #fff;
}
.horizontal-menu .nav-pills > li + li {
	margin: 0;
}
.sidebar-nav {
	padding: 9px 0;
}
.horizontal-menu .dropdown-menu {
	border-radius: 0;
	border: 1px solid #eee;
}
.dropdown-menu .sub-menu {
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}
.dropdown-submenu {
	position: relative;
}
.horizontal-menu .nav.nav-pills > li > a > .fa {
	margin: 3px 0 0 5px;
}
.horizontal-menu .dropdown-menu > li > a > .fa {
	right: 0px;
	position: absolute;
	margin-top: 3px;
}
.dropdown-menu li:hover .sub-menu {
	visibility: visible;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	margin-top: 0;
}
.navbar .sub-menu:before {
	border-bottom: 7px solid transparent;
	border-left: none;
	border-right: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 7px solid transparent;
	left: -7px;
	top: 10px;
}
.navbar .sub-menu:after {
	border-top: 6px solid transparent;
	border-left: none;
	border-right: 6px solid #fff;
	border-bottom: 6px solid transparent;
	left: 10px;
	top: 11px;
	left: -6px;
}
