/* OVERRIDE */
@font-face {
    font-family: 'planer';
    src: url('../fonts/planer/Planer-Regular-webfont.eot');
    src: url('../fonts/planer/Planer-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/planer/Planer-Regular-webfont.woff2') format('woff2'),
         url('../fonts/planer/Planer-Regular-webfont.woff') format('woff'),
         url('../fonts/planer/Planer-Regular-webfont.ttf') format('truetype'),
         url('../fonts/planer/Planer-Regular-webfont.svg#planerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #f7f7f7;
}
body, h1, h2, h3, h4, h5, h6 {
    /*font-family: 'planer' !important;*/
    font-family: 'Noto Sans', sans-serif;
}
a{
    color: #00B65C;
    font-weight: bold;
}
.sidebar a {
    font-weight: normal;
}
a:hover, a:active, a:focus{
    color: #129b57;
}
label {
    color: #555;
    font-weight: normal;
}

mark{
    background: orange;
    color: black;
}
.container {
/*	max-width: 1100px;*/
    width: 98%;
}
@media (max-width: 768px){
	.container, .content {
		width: 100%;
        padding: 0 15px;
	}
}
.navbar {
	min-height: 30px;
	border: none;
}
.navbar-brand{
	padding:3px;
	/*background: #fff;*/
}
.navbar-brand:hover{
  background: #fff !important;
}
.horizontal-menu .nav.nav-pills {
	background-color: #12a15e;
}
.horizontal-menu .nav.nav-pills > li > a {
	color: white;
	padding: 13px 15px;
}
.left-side{
    background-color: #fff;
    border-right: 1px solid #eeeeee;
}
.right-side{
    background-color: #f7f7f7;
}
.content{
    background-color: #f7f7f7;
}

/* SITUS */

.input-group-addon {
    font-size: 12px;
}
.input-group-addon i {
    margin-right: 5px;
}
.site-label {
	overflow: hidden;
}
.site-label::before {
	font-family: 'FontAwesome';
	margin-right: 5px;
}

.site-photo {
	border: 1px solid #ccc;
	overflow: hidden;
}
.site-photo-left {
	float: left;
	margin-right: 10px;
}
.site-photo-right {
	float: right;
	margin-left: 10px;
}
.site-photo-center {
	margin: auto;
	margin-bottom: 5px;
}
.site-photo-36 {
	height: 36px;
	width: 36px;
    border-radius: 4px;
}
.site-photo-48 {
	height: 48px;
	width: 48px;
    border-radius: 4px;
}
.site-photo-64 {
	height: 64px;
	width: 64px;
}
.site-photo-86 {
	height: 86px;
	width: 86px;
}
.site-photo-100 {
	height: 100px;
	width: 100px;
}
.site-photo-128 {
	height: 128px;
	width: 128px;
}

.site-listbox {
/*	border: 1px solid #ccc;*/
    border: none;
	height: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10px 15px;
}
.site-listbox table {
	width: 100%;
}
.site-listbox tr {
	vertical-align: top;
}
.site-listbox td {
	padding: 3px;
	vertical-align: middle;
}
.site-listbox td:first-child {
	width: 20px;
}
.site-listbox label {
	margin-bottom: 0;
}

/* LOGIN */

.login-body {
	text-align: center;
}

.login-photo {
	margin: auto;
	margin-bottom: 10px;
	overflow: hidden;
}

.login-name {
	font-size: 1.5rem;
}

.login-pick {
	border: 1px solid #ccc;
	cursor: pointer;
	height: 112px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}
.login-pick-text {
	background-color: rgba(255,255,255,0.75);
	bottom: 0;
	display: table-cell;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.login-pilih {
	cursor: pointer;
}

/* MENU */

.img-brand{
    height: 38px;
}

.menu-bar {
/*	background-color: #ffffff;*/
    background: linear-gradient(87.07deg, #01D0B8 0%, #00B65C 98.34%);
/*	border-bottom: 1px solid #eeeeee;*/
	color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
.menu-bar-sub {
	background-color: #34495E;
	color: white;
}
.menu-left{
    padding: 10px 0px 0px 15px;
}

.menu-img {
	margin-top: 2px;
	padding-right: 30px;
	text-align: right;
	padding: 15px 30px 15px 4px;
}
.menu-img img {
	max-height: 38px;
}

.menu-photo {
	overflow: hidden;
}

.menu-button {
	float: right;
    margin-top: 4px;
    font-size: 20px;
}
.menu-button a {
	color: #FFF;
	margin-left: 20px;
}
.menu-button a:hover,
.menu-button a:active,
.menu-button a:focus
{
	color: #eee;
}
.menu-button .fa {
	font-size: 1.7rem;
	margin-top: 7px;
}
.menu-button .label {
	position: absolute;
    top: 15px;
    right: 65px;
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 7px;
}

.menu-title {
	font-size: 1.1rem;
	line-height: 1.1;
}
.menu-name {
	color: #fff;
    font-size: 1rem;
    line-height: 0.9;
    min-height: 36px;
    display: grid;
    align-items: center;
}

.menu-tab {
    margin-top: -24px;
	margin-bottom: 10px;
    padding-left: 15px;
}
.menu-tab .menu-tab-item {
	color: #AAA;
	cursor: pointer;
	float: left;
	margin-right: 21px;
    margin-bottom: 16px;
    font-size: 1.1rem;
    padding: 5px 0px;
}
.menu-tab .menu-tab-active {
	color: #00B65A;
	cursor: default;
    border-bottom: 2px solid #00B65A;
}
.btn-sidemenu{
    background-color: transparent;
    box-shadow: none;
    font-size: 30px;
    color: #fff;
}
.btn-sidemenu:active{
    box-shadow: none;
}
.sidebar-title{
    min-height: 48px;
    font-size: 12px;
    text-transform: none;
    display: grid;
    align-items: center;
}
.sidebar-title-name{
    width: 140px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar .sidebar-menu > li > a{
    padding: 15px 5px 10px 15px;
    color: #00b65c;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.sidebar .sidebar-menu .treeview-menu > li > a{
    padding: 9px 5px 9px 15px;
    color: #555;
    font-size: 12px;
}

.sidebar .sidebar-menu .treeview-menu > li .active{
    padding: 9px 5px 9px 15px;
    font-size: 12px;
    background: linear-gradient(90deg, #00B65C 0%, #01D0B8 98.9%);
    color: #ffffff;
}

.sidebar .sidebar-menu .treeview-menu > li > a > i{
    font-size: 16px;
    margin-right: 12px;
    vertical-align: sub;
}

.sidebar .sidebar-menu .treeview-menu > li > a:hover{
    background: linear-gradient(90deg, #00B65C 0%, #01D0B8 98.9%);
    color: #ffffff;
}
.sidebar .sidebar-menu .treeview-menu > li > a >i:hover{
    color: #ffffff;
}


/* HEADER */

.header-title {
/*	padding: 0 15px;*/
    margin-bottom: 24px;
}
.header-title button {
	margin-top: 5px;
}
.header-title h3 {
	margin-top: 10px;
}
.header-title h4 {
    font-size: 24px;
    color: #333;
}

.header-search{
    padding: 15px 25px;
}
.header-search-icon{
    font-size: 18px;
    margin-right: 6px;
    vertical-align: middle;
}
input.header-search-input{
    padding: 8px 4px;
    width: 80%;
    border: none;
    font-size: 14px;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}

input.header-search-input:focus{
    outline: none;
}

input.header-search-input::placeholder{
    color: #fff;
}

/* POST */

.post-section {
	background-color: #fff;
	border: 1px solid #eeeeee;
	margin-bottom: 15px;
	padding: 15px;
}

.post-section.to-do{
    position: relative;
    padding-left: 20px;
    float: left;
    width: 100%;
}

.post-section.to-do{
    position: relative;
    padding-left: 20px;
    float: left;
    width: 100%;
}

.post-header-name {
	font-weight: bold;
}
.post-header-info {
	color: #999;
	font-size: 0.9rem;
}

.post-task{
    padding-left: 20px;
}

.post-body {
	clear: both;
	padding: 15px 0 0 0;
}

.post-namedate{
    min-height: 48px;
    display: grid;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 6px;
}

.post-title{
    font-size: 18px;
    color: #333;
    font-weight: 400;
}

.post-title.issue{
    margin-bottom: 0;
}

.post-issue-group{
    margin-top: -15px;
    color: #00b65c;
    font-size: 13px;
    margin-bottom: 16px;
}

.post-issue-deadline{
    color: #AAA;
    font-size: 12px;
    margin-bottom: 16px;
}

.post-issue-deadline i{
    margin-right: 8px;
}

.label-issue{
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.post-author{
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 20px;
    color: #AAA;
}

.post-img{
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 30%;
}

.post-description{
    color: #AAA;
    font-size: 12px;
}

.post-icon{
    font-size: 18px;
    color: #AAA;
    margin-right: 8px;
    vertical-align: sub;
}

.post-icon-fa{
    font-size: 14px;
    color: #AAA;
    margin-right: 8px;
}

.post-divider{
    margin-top: 0;
    margin-bottom: 16px;
}

.post-footer {
	color: #999;
}

.post-footer.to-do{
    margin-top: 4px;
}

.post-footer-comment{
    height: 30px;
    display: inline-flex;
    align-items: center;
}

.post-right {
	margin-left: 8px;
}

.post-delete {
	color: red;
}
.post-delete:hover {
	color: orange;
}



.post-cat {
	position: relative;
}
.post-cat::before {
	background-position: 5px 6px;
	background-repeat: no-repeat;
	color: white;
	font-size: 0.9rem;
	font-weight: 400;
	padding: 10px 20px;
	position: absolute;
	right: 0;
	top: 0;
}
.post-cat-1 {
	/*border-color: #00CFB7;*/
}
.post-cat-1::before {
	background-color: #00CFB7;
	/*background-image: url('../img/icons/info.png');*/
	content: "Informasi";
}
.post-cat-2 {
/*	border-color: #ffc107;*/
}
.post-cat-2::before {
	background-color: #ffc107;
/*	background-image: url('../img/icons/task.png');*/
	content: "Task";
}
.post-cat-3 {
/*	border-color: #f44336;*/
}
.post-cat-3::before {
	background-color: #f44336;
/*	background-image: url('../img/icons/bug.png');*/
	content: "Bug";
}
.post-cat-4 {
/*	border-color: #9c27b0;*/
}
.post-cat-4::before {
	background-color: #9c27b0;
/*	background-image: url('../img/icons/event.png');*/
	content: "Event";
}
.post-cat-6 {
/*	border-color: #ff5722;*/
}
.post-cat-6::before {
	background-color: #ff5722;
/*	background-image: url('../img/icons/enhancement.png');*/
	content: "Enhancement";
}
.post-cat-7 {
/*	border-color: #2196f3;*/
}
.post-cat-7::before {
	background-color: #2196f3;
/*	background-image: url('../img/icons/proposal.png');*/
	content: "Marketing";
}
.post-cat-8 {
/*	border-color: #4caf50;*/
}
.post-cat-8::before {
	background-color: #4caf50;
/*	background-image: url('../img/icons/info.png');*/
	content: "To Do";
}
.post-cat-9 {
/*	border-color: #F2994A;*/
}
.post-cat-9::before {
	background-color: #F2994A;
	/*background-image: url('../img/icons/info.png');*/
	content: "Knowledge";
}
.post-cat-10 {
/*	border-color: #9c27b0;*/
}
.post-cat-10::before {
	background-color: #9c27b0;
/*	background-image: url('../img/icons/event.png');*/
	content: "Kalender";
}
.post-cat-11 {
/*	border-color: #0217DF;*/
}
.post-cat-11::before {
	background-color: #0217DF;
/*	background-image: url('../img/icons/proposal.png');*/
	content: "Notulen";
}
.post-cat-12 {
/*	border-color: #12FF98;*/
}
.post-cat-12::before {
	background-color: #12FF98;
/*	background-image: url('../img/icons/helpdesk.png');*/
	content: "Helpdesk";
}
.post-cat-13 {
/*  border-color: #12FF98;*/
}
.post-cat-13::before {
    background-color: #FF0E0E;
/*  background-image: url('../img/icons/helpdesk.png');*/
    content: "Meeting";
}

/* POST NEW */
.post-new{
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 24px;
}

.post-new.detail{
    border-color: #ccc;
}

.post-new-textarea-main{
    margin: 0px;
    padding: 30px 15px;
    border: none;
    resize: vertical;
    width: 100%;
}

.post-new-textarea-main.daily-report{
    padding: 2px 15px;
}

.post-new-textarea-main:focus{
    outline: none;
}

.post-new-textarea-main::placeholder{
    color: #BBB;
}

.post-new-footer-break{
    margin-top: 1px;
    margin-bottom: 1px;
}

.post-new.detail .post-new-footer-break{
    border-top-color: #ccc;
}

.post-new-footer-item{
    display: inline-flex;
    padding: 10px 0 10px 30px;
    align-items: center;
}

.post-new-file{
    display: inline;
    margin-right: 14px;
    font-size: 12px;
    color: #AAA;
    cursor: pointer;
}

.post-new-file-icon{
    vertical-align: middle;
}

.post-new-footer-item-right{
    display: inline-flex;
    padding: 5px 30px;
    justify-content: flex-end;
    align-items: center;
}

.post-new-footer-text{
    color: #AAA;
    font-size: 12px;
    margin-right: 8px;
}

.post-new-footer-text.right{
    margin-left: 8px;
}

.post-new-input-date{
    font-size: 13px;
    padding: 2px 15px;
    color: #555;
}

.post-new-file:hover{
    color: #333;
}

.post-input-help{
    color: #267cd8;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 2px;
    border-left: 5px solid;
    padding-bottom: 2px;
}

.post-input-help-2{
    color: #BBB;
    margin-bottom: 15px;
    padding-left: 15px;
}

.post-new-input-title{
    color: #555;
    font-size: 14px;
    /*font-weight: 700;*/
    padding: 8px 15px;
}

.post-new-input-title::placeholder{
    color: #BBB;
}

.post-new-select-main{
    color: #555;
    font-size: 14px;
    padding: 8px 15px;
    border: none;
}

.dropdown.dropdown-file:hover .dropdown-menu {
        display: none;
    }
.dropdown.dropdown-file.open .post-new-file{
    color: #333;
}
.dropdown.dropdown-file.open .dropdown-menu{
    display: block;
}

ul.dropdown-menu.new-file-dropdown{
    left: -12px;
    padding-top: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
    min-width: 105px;
}
ul.dropdown-menu.new-file-dropdown:before{
    content: '';
    position: absolute;
    top: -12px;
    left: 6px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ccc;
}
ul.dropdown-menu.new-file-dropdown:after{
    content: '';
    position: absolute;
    top: -11px;
    left: 6px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
}


ul.dropdown-menu.new-file-dropdown > li > a{
    padding: 6px 11px;
    color: #333;
    font-size: 12px;
}

.file-dropdown-icon{
    margin-right: 8px;
}

ul.dropdown-menu.new-file-dropdown > li > a:hover{
    background: linear-gradient(90deg, #00B65C 0%, #01D0B8 98.9%);
    color: #fff;
}

.post-select{
    font-size: 12px;
    padding: 4px 30px 4px 6px;
    color: #555;
    margin-left: 4px;
    margin-right: 8px;
    background: url(../img/io-arrow-down.png) no-repeat 90% 55%;
    background-size: 11px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

.new-input-icon-fa{
    margin-left: 12px;
    color: #AAA;
}

.new-input-icon{
    color: #AAA;
    margin-left: 11px;
}

.input-picture::before{
    font-family: 'icomoon';
    content: "\e912";
    margin-right: 8px;
}
.input-video::before{
    font-family: 'icomoon';
    content: "\e931";
    margin-right: 8px;
}
.input-files::before{
    font-family: 'icomoon';
    content: "\e932";
    margin-right: 8px;
}

.post-new-input{
    display: flow-root;
}

.post-new-content{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
}

.color-separator {
    height: 100%;
    width: 2px;
    background-color: #eee;
    position: absolute;
    left: 71px;
}

.post-new-input-text{
    color: #DDD;
    padding: 6px 15px;
    font-size: 12px;
    display: inline-block;
    width: 100%;
}

.post-new-select-color{
    width: 100%;
    /* margin-top: 7px; */
    height: 35px;
    border: none;
    padding: 0;
}


input.post-new-input-link{
    padding: 6px 8px;
    border: none;
    display: inline-block;
    width: 90%;
}
input.post-new-input-link.daily-report{
    padding: 2px 15px 8px;
    width: 100%;
}
input.post-new-input-link:focus{
    outline: none;
}

input.post-new-input-link::placeholder{
    color: #bbb;
}

.post-new-category{
    position: absolute;
    right: 15px;   
}

.post-new-category-static{
    position: absolute;
    right: 15px;
    font-size: 12px;
    padding: 4px 14px;
    color: #fff;
}

.post-new-category label{
    font-size: 12px;
    padding: 10px 14px 4px 14px;
    color: #fff;
    appearance:none;
    border: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

.post-new-category select{
    font-size: 12px;
    padding: 4px 30px 4px 14px;
    color: #fff;
    background: url(../img/io-arrow-down-white.png) no-repeat 90% 55%;
    background-size: 11px;
    appearance:none;
    border: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

.post-new-category select:focus{
    outline: none;
}
.post-new-category select option{
    color: #333;
    padding: 4px 6px;
}

input.post-new-input-km {
    width: 100%;
    padding: 15px 15px 15px;
    margin: 0px;
    resize: vertical;
    border: none;
}

.post-new-input-km:focus{
    outline: none;
}

.post-new-input-km::placeholder{
    color: #BBB;
}

input.post-new-input-title {
    width: 100%;
    padding: 15px 15px 15px;
    border: none;
    font-size: 18px;
}

input.post-new-input-author {
    width: 100%;
    padding: 2px 15px 12px;
    border: none;
    font-size: 12px;
    font-weight: bold;
}

.post-new-author-by::before{
    content: '-- by:';
    position: relative;
    left: 15px;
    color: #AAA;
}

input.post-new-input-author::placeholder{
    color: #BBB;
}

input.post-new-input-title:focus{
    outline: none;
}

input.post-new-input-author:focus{
    outline: none;
}

.post-delete-item{
    display: inline;
    color: #f89999;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
}

.post-delete-item:hover{
    color: #EB5757;
}


.post-new-cat-1{
    background-color: #00CFB7;
}

.post-new-cat-9{
    background-color: #F2994A;
}


/* ISSUE */
.dashboard-cat {
	position: relative;
}
.dashboard-cat::before {
	background-position: 5px 6px;
	background-repeat: no-repeat;
	color: white;
	font-size: 0.9rem;
	font-weight: bold;
	padding: 4px;
	padding-left: 26px;
	position: absolute;
}
/*.task-cat-0 { border-color: #ffffff; }*/
.dashboard-cat-0 {
    color: #ffffff !important;
    text-transform: uppercase;
}
.task-cat-0::before { 
    color: #ffffff;
    content:attr(content);
    text-transform: uppercase;
}
/*.task-cat-1 { border-color: #212121; }*/
.dashboard-cat-1 {
    color: #212121 !important;
    text-transform: uppercase;
}
.task-cat-1::before { 
    color: #212121;
    content:attr(content);
    text-transform: uppercase;
}
/*.task-cat-2 { border-color: #e91e63; }*/
.dashboard-cat-2 {
	color: #e91e63 !important;
	text-transform: uppercase;
}
.task-cat-2::before { 
	color: #e91e63;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-3 { border-color: #9c27b0; }*/
.dashboard-cat-3 {
	color: #9c27b0 !important;
	text-transform: uppercase;
}
.task-cat-3::before { 
	color: #9c27b0;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-4 { border-color: #673ab7; }*/
.dashboard-cat-4 {
	color: #673ab7 !important;
	text-transform: uppercase;
}
.task-cat-4::before { 
	color: #673ab7;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-5 { border-color: #3f51b5; }*/
.dashboard-cat-5 {
	color: #3f51b5 !important;
	text-transform: uppercase;
}
.task-cat-5::before { 
	color: #3f51b5;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-6 { border-color: #2196f3; }*/
.dashboard-cat-6 {
	color: #2196f3 !important;
	text-transform: uppercase;
}
.task-cat-6::before { 
	color: #2196f3;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-7 { border-color: #03a9f4; }*/
.dashboard-cat-7 {
	color: #03a9f4 !important;
	text-transform: uppercase;
}
.task-cat-7::before { 
	color: #03a9f4;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-8 { border-color: #00bcd4; }*/
.dashboard-cat-8 {
	color: #00bcd4 !important;
	text-transform: uppercase;
}
.task-cat-8::before { 
	color: #00bcd4;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-9 { border-color: #009688; }*/
.dashboard-cat-9 {
	color: #009688 !important;
	text-transform: uppercase;
}
.task-cat-9::before { 
	color: #009688;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-10 { border-color: #4caf50; }*/
.dashboard-cat-10 {
	color: ##4caf5 !important;
	text-transform: uppercase;
}
.task-cat-10::before { 
	color: #4caf50;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-11 { border-color: #8bc34a; }*/
.dashboard-cat-11 {
	color: ##8bc34 !important;
	text-transform: uppercase;
}
.task-cat-11::before { 
	color: #8bc34a;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-12 { border-color: #cddc39; }*/
.dashboard-cat-12 {
	color: ##cddc3 !important;
	text-transform: uppercase;
}
.task-cat-12::before { 
	color: #cddc39;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-13 { border-color: #ffeb3b; }*/
.dashboard-cat-13 {
	color: ##ffeb3 !important;
	text-transform: uppercase;
}
.task-cat-13::before { 
	color: #ffeb3b;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-14 { border-color: #ffe107; }*/
.dashboard-cat-14 {
	color: ##ffe10 !important;
	text-transform: uppercase;
}
.task-cat-14::before { 
	color: #ffe107;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-15 { border-color: #ff9800; }*/
.dashboard-cat-15 {
	color: ##ff980 !important;
	text-transform: uppercase;
}
.task-cat-15::before { 
	color: #ff9800;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-16 { border-color: #ff5722; }*/
.dashboard-cat-16 {
	color: ##ff572 !important;
	text-transform: uppercase;
}
.task-cat-16::before { 
	color: #ff5722;
	content:attr(content);
	text-transform: uppercase;
}
/*.task-cat-1 { border-color: #f44336; }*/
.dashboard-cat-17 {
    color: #f44336 !important;
    text-transform: uppercase;
}
.task-cat-17::before { 
    color: #f44336;
    content:attr(content);
    text-transform: uppercase;
}

.task-logo-0::before {
    background-color: #ffffff;
}
.task-logo-1::before {
	background-color: #212121;
}
.task-logo-2::before {
	background-color: #e91e63;
}
.task-logo-3::before {
	background-color: #9c27b0;
}
.task-logo-4::before {
	background-color: #673ab7;
}
.task-logo-5::before {
	background-color: #3f51b5;
}
.task-logo-6::before {
	background-color: #2196f3;
}

.task-logo-helpdesk-1::before {
    background-color: #c62828;
}
.task-logo-helpdesk-2::before {
    background-color: #f39c12;
}
.task-logo-helpdesk-3::before {
    background-color: #f39c12;
}
.task-logo-helpdesk-4::before {
    background-color: #1565c0;
}
.task-logo-helpdesk-5::before {
    background-color: #c62828;
}
.task-logo-helpdesk-6::before {
    background-color: #4CAF50;
}
.task-logo-helpdesk-7::before {
    background-color: #4CAF50;
}
.task-logo-helpdesk-8::before {
    background-color: #4CAF50;
}

/* COMMENT */

.comment-table {
	background-color: #fff;
	border-collapse: collapse;
	width: 100%;
}
.comment-table tr {
/*	border: 1px solid #eee;*/
    border: none;
}
.comment-table td {
	padding: 10px 15px;
}
.comment-table td:first-child {
	width: 50px;
	vertical-align: top;
}
.comment-table td.comment-info {
	padding-left: 0px;
}

.comment-table.table-modal td{
    padding: 10px 0;
}

.comment-table.table-modal td.comment-info{
    padding-left: 16px;
}

.comment-textarea {
    overflow: hidden;
    min-height: 36px !important;
}

/* HEADER */

.notification-table {
	border-collapse: collapse;
	width: 100%;
}
.notification-table > tbody > tr {
	border: 1px solid #ccc;
}
.notification-table > tbody > tr > td {
	padding: 0;
}
.notification-table a {
	color: #000000;
}
.notification-table .comment-table tr {
	border: 0;
}
.notification-table .comment-table tr:hover {
	background-color: #e3f0f9;
}

.notification-unread {
	background-color: #ffffd4;
}

/* GROUP */

.group-header-name {
	font-weight: bold;
}
.group-header-owner {
	margin-top: 3px;
}

.group-priv {
	position: relative;
}
.group-priv::before {
	font-family: 'FontAwesome';
	font-size: 1.3rem;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	top: 0;
}
.group-priv-c::before {
	color: #4caf50;
	content: "\f0ac";
}
.group-priv-e::before {
	color: #f14c40;
	content: "\f023";
}

.group-table td {
	padding: 0 15px 15px 0;
}

.group-card{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}
.group-category{
    position: absolute;
    right: 15px;
    padding: 3px 13px;
    font-size: 12px;
    text-transform: capitalize;
}
.group-image{
    height: 80px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.group-image img{
    width: 100%;
}

.group-name{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 15px 4px;
}

.group-name i{
    font-size: 16px;
    margin-left: 4px;
}

.group-owner{
    font-size: 12px;
    color: #AAA;
    padding: 0 15px 8px;
}

.group-owner i{
    margin-right: 4px;
}

.group-divider{
    margin-top: 4px;
    margin-bottom: 8px;
}

.group-footer{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.group-member{
    height: 30px;
    display: inline-flex;
    align-items: center;
}

.group-cat-project{
    background-color: #CF6400;
    color: #fff;
}

.group-cat-division{
    background-color: #00A5CF;
    color: #fff;
}

.group-cat-helpdesk{
    background-color: #cf4300;
    color: #fff;
}

.group-cat-group{
    background-color: #F0C542;
    color: #fff;
}
   


/* USER */

.user-section {
	overflow-x: hidden;
	width: 100%;
}

.user-label {
	line-height: 1.3;
}
.user-email::before {
	color: #f57c00;
	content: "\f0e0";
}
.user-ym::before {
	color: #7b1fa2;
	content: "\f086";
}
.user-phone::before {
	color: #7fe340;
	content: "\f095";
}

/* TO DO */

.todo-header {
	margin-bottom: 15px;
	text-align: center;
}
.todo-title {
	margin-bottom: 8px;
    font-size: 16px;
}
.todo-description{
    font-size: 14px;
    color: #AAA;
    margin-bottom: 8px;
}

.todo-selesai {
	/*font-size: 24px;*/
    vertical-align: middle;
    color: #00B65C;
}

.todo-check{
    font-size: 24px;
    color: #BBB;
}
.todo-check:hover{
    color: #00b65c;
}

.todo-time{
    font-size: 16px;
}

.todo-col {
    color: white;
    position: absolute;
    /* float: left; */
    left: 0;
    top: 0;
    font-size: 3rem;
    height: 100%;
    margin-right: 15px;
    text-align: center;
    width: 6px;
}
.todo-col-edit{
    color: white;
	float: left;
	font-size: 2rem;
	height: 32px;
	margin-right: 10px;
    margin-bottom: 10px;
	text-align: center;
	width: 32px;
}
.todo-col-0 { background-color: #ffffff; border: 1px solid #eee; }
.todo-col-1 { background-color: #212121 }
.todo-col-2 { background-color: #e91e63 }
.todo-col-3 { background-color: #9c27b0 }
.todo-col-4 { background-color: #673ab7 }
.todo-col-5 { background-color: #3f51b5 }
.todo-col-6 { background-color: #2196f3 }
.todo-col-7 { background-color: #03a9f4 }
.todo-col-8 { background-color: #00bcd4 }
.todo-col-9 { background-color: #009688 }
.todo-col-10 { background-color: #4caf50 }
.todo-col-11 { background-color: #8bc34a }
.todo-col-12 { background-color: #cddc39 }
.todo-col-13 { background-color: #ffeb3b }
.todo-col-14 { background-color: #ffe107 }
.todo-col-15 { background-color: #ff9800 }
.todo-col-16 { background-color: #ff5722 }
.todo-col-17 { background-color: #f44336 }

.todo-text-col-0 { color: #ffffff; background-color: #eeeeee }
.todo-text-col-1 { color: #212121; background-color: #eeeeee }
.todo-text-col-2 { color: #e91e63; background-color: #eeeeee }
.todo-text-col-3 { color: #9c27b0; background-color: #eeeeee }
.todo-text-col-4 { color: #673ab7; background-color: #eeeeee }
.todo-text-col-5 { color: #3f51b5; background-color: #eeeeee }
.todo-text-col-6 { color: #2196f3; background-color: #eeeeee }
.todo-text-col-7 { color: #03a9f4; background-color: #eeeeee }
.todo-text-col-8 { color: #00bcd4; background-color: #eeeeee }
.todo-text-col-9 { color: #009688; background-color: #eeeeee }
.todo-text-col-10 { color: #4caf50; background-color: #eeeeee }
.todo-text-col-11 { color: #8bc34a; background-color: #eeeeee }
.todo-text-col-12 { color: #cddc39; background-color: #eeeeee }
.todo-text-col-13 { color: #ffeb3b; background-color: #eeeeee }
.todo-text-col-14 { color: #ffe107; background-color: #eeeeee }
.todo-text-col-15 { color: #ff9800; background-color: #eeeeee }
.todo-text-col-16 { color: #ff5722; background-color: #eeeeee }
.todo-text-col-17 { color: #f44336; background-color: #eeeeee }

/* LAIN-LAIN */

.file-upload {
    margin: 0;
}
.to-do.clear .todo-title, .to-do.clear .todo-description, .to-do.clear .todo-time {
    text-decoration: line-through;
}
.to-do.clear {
    background: #bafbba;
}

.comment-info strong {
    float: left;
    margin-right: 5px;
}

.label-check {
	color: black;
	font-weight: normal;
	margin-bottom: 15px;
}
/* filter */
.filter .hidden-xs{
  display: inline-block !important;
}
/* wizard */
    .wizard .nav-tabs {
        position: relative;
        /* margin: 40px auto; */
        margin-bottom: 0;
        border-bottom: none;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line4 {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    /* right: 0; */
    top: 65%;
    z-index: 1;
}
.connecting-line4.active {
    background: #5CB85C;
}
.connecting-line3 {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 60%;
    margin: 0px 0px 0px 100px;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #f8f8f8;
    color: #ddd;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: -1px;
    text-align: center;
    font-size: 20px;
    top: -1px;
}
span.round-tab.active{
	color: #5CB85C;
	background: #fff;
	border: 2px solid #5CB85C;
}
span.round-tab i{
    /* color:#555555; */
}
.wizard{
	z-index:3;
}
.wizard li.active span.round-tab {
    background: #5bc0de;
    border: 2px solid #46B8DA;
}
.wizard li.active span.round-tab i{
    color: #fff;
}

span.round-tab:hover {
    /* color: #333;
     border: 2px solid #333;*/
}

.wizard .nav-tabs > li {
    width: 25%;
}



.wizard .nav-tabs > li a {
    width: 40px;
    height: 40px;
    /* margin: 20px auto; */
    border-radius: 100%;
    padding:0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.footer{
    background-color: #3A4658;
    padding: 16px 30px;
}

.footer.footer-bottom-fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text{
    color: #AAAAAA;
    display: inline-block;
}

/* LABEL */
.label{
    border-radius: 0px;
    padding: .1em .4em .2em;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid transparent;
    margin-right: 4px;
}

.label-info{
    background-color: #E1F3FF;
    border-color: #B8E0FB;
    color: #5F8AA8;
}

/* BUTTONS */

.btn{
    border-radius: 2px;
    border: 2px solid transparent;
    box-shadow: none;
    transition: all 0.2s ease;
}

.btn-sm{
    padding: 8px 16px;
    font-size: 13px;
}

.btn-sidemenu:hover, .btn-sidemenu:focus{
    color: #eee;
}

.btn.btn-default{
    background-color: #ddd;
    color: #555;
    border-color: transparent;
}

.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default.hover{
    background-color: transparent;
    border-color: #ddd;
    color: #888;
    font-weight: 500;
}

.btn.btn-primary{
    background-color: transparent;
    border-color: #00B65C;
    color: #00B65C;
    font-weight: 700;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover{
    background-color: #00B65C;
    color: #fff;
    border-color: transparent;
    font-weight: 500;
}

.btn.btn-info{
    background-color: #00A5CF;
    border-color: transparent;
}

.btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info.hover{
    background-color: transparent;
    border-color: #00A5CF;
    color: #00A5CF;
    font-weight: 700;
}

.btn.btn-success{
    background-color: #00B65C;
    border-color: transparent;
}

.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success.hover{
    background-color: transparent;
    border-color: #00B65C;
    color: #00B65C;
    font-weight: 700;
}


.btn.btn-warning{
    background-color: #F0C542;
    border-color: transparent;
}

.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning.hover{
    background-color: #a98b31;
    border-color: #b3922f;
    color: #fff;
    font-weight: 500;
}

.btn.btn-danger{
    background-color: #EB5757;
    border-color: transparent;
}

.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger.hover{
    background-color: transparent;
    border-color: #EB5757;
    color: #EB5757;
    font-weight: 700;
}

.post-footer-btn{
    padding: 4px 14px;
    font-size: 12px;
}

/* RIGHT SIDEBAR */
.rsidebar-card{
    padding: 12px;
    background-color: #fff;
    border: 1px solid #eee;
}

.rsidebar-title{
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
}

.rsidebar-title .main-title{
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    font-weight: 700;
}

.rsidebar-task{
    margin-bottom: 10px;
    display: flex;
}

.rsidebar-task-sm{
    margin-bottom: 10px;
}

.rsidebar-task-sm:last-child{
    margin-bottom: 0;
}

.rsidebar-task-title{
    font-size: 13px;
    color: #333;
}

.rsidebar-task-date-big{
    display: inline-grid;
    width: 20%;
    font-size: 11px;
    padding-right: 7px;
    text-align: center;
    align-items: center;
    color: #555;
}
.rsidebar-date-year{
    font-weight: 500;
    font-size: 13px;
    margin-top: -8px;
    color: #999;
    
}
.rsidebar-task-title-big{
    width: 75%;
    display: inline-grid;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid #aaa;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #333;
}

.rsidebar-task-time{
    font-size: 12px;
    font-weight: 400;
    color: #AAA;
}

.rsidebar-task-date-big{
    max-height: 65px;
    display: inline-grid;
    width: 30%;
    font-size: 15px;
    padding-right: 7px;
    text-align: center;
    align-items: center;
    color: #555;
}
.rsidebar-date-year{
    font-weight: 500;
    font-size: 18px;
    margin-top: -6px;
    color: #999;
    
}
.rsidebar-task-title-big{
    width: 70%;
    display: inline-grid;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid #aaa;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #555;
    font-weight: bold;
}

.rsidebar-task-time{
    font-size: 12px;
    font-weight: 400;
    color: #AAA;
}

.rsidebar-task-date{
    color: #AAA;
    font-size: 12px;
    margin: 0 0 5px !important;
}

.rsidebar-task-icon{
    margin-right: 8px;
}

.rsidebar-task-danger{
    color: #EB5757;
}

.rsidebar-break{
    margin-bottom: 24px;
}

.rsidebar-group-empty{
    height: 80px;
    border: 1px dashed #CCCCCC;
    border-radius: 2px;
    display: grid;
    align-items: center;
    padding: 10px 15px;
}

.rsidebar-group-empty-plus{
    font-size: 20px;
    text-align: center;
    color: #aaa;
    margin-bottom: 8px;
}

.rsidebar-group-empty-text{
    font-size: 12px;
    color: #AAA;
    text-align: center;
}

.rsidebar-group{
    height: 40px;
/*    border: 1px solid #eee;*/
    /* border-radius: 2px; */
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
}

.rsidebar-group-category{
    position: absolute;
    right: 0;
    padding: 2px 10px;
    font-size: 11px;
    text-transform: capitalize;
}

.rsidebar-group-image{
    height: 40px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    /* border-top-left-radius: 2px; */
    /* border-top-right-radius: 2px; */
    width: 40px;
    border: 1px solid #eee;
    display: inline-flex;
}

.rsidebar-group-image img{
    width: 100%;
}

.rsidebar-group-title{
    font-size: 13px;
    color: #00B65C;
    padding-left: 10px;
    padding-top: 0px;
    display: inline-block;
    width: 78%;
    top: 0px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rsidebar-group-owner{
    font-size: 11px;
    color: #AAA;
    padding-left: 10px;
    display: inline-block;
    position: absolute;
    top: 20px;
    width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rsidebar-group-owner i{
    margin-right: 4px;
}

.rsidebar-profile-picture{
    height: 150px;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 24px;
}

.rsidebar-profile-picture img{
    height: 100%;
}

.rsidebar-profile-name{
    font-size: 18px;
    color: #333;
    margin-bottom: 4px;    
}

.rsidebar-profile-owner{
    font-size: 13px;
    color: #AAA;
    margin-bottom: 16px;
}

.rsidebar-profile-owner i{
    margin-right: 4px;
}

.rsidebar-profile-description{
    font-size: 13px;
    color: #555;
    margin-bottom: 24px;
}

.rsidebar-member{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.rsidebar-member-image{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #eee;
    object-fit: cover;
    margin-right: 8px;
}

.rsidebar-member-image img{
    width: 100%;
}

.rsidebar-member-name{
    font-size: 14px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* SCROLL TO TOP */
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(220,220,220,0.5);
	padding:12px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
    border-radius: 4px;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(165,165,165,0.5);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
    color: #00b65c;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

/* FILTER MODAL */
.modal.right {
    overflow-y: auto;
}
.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
    border-radius: 0;
    border: none;
}
	
.modal.right .modal-body {
		padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
}
	
.modal.right.fade.in .modal-dialog {
		right: 0;
}

modal.right.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
}

.bord-bottom{
    margin-bottom: 16px;
    border-bottom: none;
}

.bord-bottom label{
    color: #555;
    font-weight: 500;
    margin-bottom: 8px;
}

/* ISSUE NEW */

.issue-state{
    font-size: 18px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.issue-state-count{
    color: #AAA;
    font-size: 14px;
}

.issue-empty{
    border: 1px dashed #ccc;
    height: 120px;
    margin-bottom: 10px;
    color: #ccc;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.issue-empty i{
    font-size: 36px;
    display: block;
    text-align: center;
}

.issue-list{
    -webkit-padding-start: 0px;
    list-style-type: none;
}

.issue-list-item{
    border: 1px solid #eee;
    /*border-left: 6px solid transparent;*/
    border-radius: 0px;
    margin-bottom: 10px;
    background: #fff;
    cursor: pointer;
}

.issue-deadline{
    padding-left: 10px;
    margin-top: 4px;
    font-size: 10px;
    color: #AAA;
}

.issue-deadline i{
    margin-right: 4px;
}

.issue-header{
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 10px;
}

.issue-user{
    width: 68%;
}

.issue-title{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 13px;
    color: #333;
}

.issue-group{
    /*padding-left: 10px;*/
    padding-right: 10px;
    font-size: 12px;
    color: #00b65c;
}

.issue-category{
    position: absolute;
    right: 15px;
    font-size: 12px;
    padding: 2px 10px;
    color: #fff;
}

hr.issue-footer-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

.issue-people{
    padding-left: 10px;
    /*padding-right: 10px;*/
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 6px;
}

.issue-people::before{
    content: '';
    width: 80%;
    position: absolute;
    height: 30px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* Standard syntax (must be last) */
}

.issue-people-img{
    width: 26px;
    height: 26px;
    overflow: hidden;
    display: inline-block;
    object-fit: cover;
    object-position: center;
    margin-right: 4px;
    border-radius: 2px;
    border: 1px solid #eee;
}

.issue-people label{
    font-size: 11px;
}

.border-prior{
/*    border: 6px solid transparent;*/
}

.border-prior{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: #333;
}

.border-prior.prior-minor{
    background-color: #AAA;
}

.border-prior.prior-normal{
    background-color: #00A5CF;
}

.border-prior.prior-important{
    background-color: #F2994A;
}

.border-prior.prior-urgent{
    background-color: #EB5757;
}

.prior-minor{
    border-left-width: 6px!important;
    border-left-color: #AAA;
}

.prior-normal{
    border-left-width: 6px!important;
    border-left-color: #00A5CF;
}

.prior-important{
    border-left-width: 6px!important;
    border-left-color: #F2994A;
}

.prior-urgent{
    border-left-width: 6px!important;
    border-left-color: #EB5757;
}

.text-priority{
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 0.9rem;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
}

.text-minor{
    background-color: #AAA;
}

.text-normal{
     background-color: #00A5CF;
}

.text-important{
     background-color: #F2994A;
}

.text-urgent{
    background-color: #EB5757;
}

.issue-cat-0{
    background-color: #ffffff;
    border: 1px solid #eee; 
}

.issue-cat-1{
    background-color: #212121;
}

.issue-cat-2{
    background-color: #e91e63;
}

.issue-cat-3{
    background-color: #9c27b0;
}

.issue-cat-4{
    background-color: #673ab7;
}

.issue-cat-5{
    background-color: #3f51b5;
}

.issue-cat-6{
    background-color: #2196f3;
}

.issue-cat-7{
    background-color: #03a9f4;
}

.issue-cat-8{
    background-color: #00bcd4;
}

.issue-cat-9{
    background-color: #009688;
}

.issue-cat-10{
    background-color: #4caf50;
}

.issue-cat-11{
    background-color: #8bc34a;
}

.issue-cat-12{
    background-color: #cddc39;
}

.issue-cat-13{
    background-color: #ffeb3b;
}

.issue-cat-14{
    background-color: #ffe107;
}

.issue-cat-15{
    background-color: #ff9800;
}

.issue-cat-16{
    background-color: #ff5722;
}

.issue-cat-17{
    background-color: #f44336;
}

.issue-cat-17{
    background-color: #f44336;
}

.issue-cat-helpdesk-1{
    background-color: #c62828;
}

.issue-cat-helpdesk-5{
    background-color: #c62828;
}

.issue-cat-helpdesk-2{
    background-color: #f39c12;
}

.issue-cat-helpdesk-3{
    background-color: #f39c12;
}

.issue-cat-helpdesk-4{
    background-color: #15c03a;
}

.issue-cat-helpdesk-6{
    background-color: #9ea09e;
}

.issue-cat-helpdesk-7{
    background-color: #4CAF50;
}

.issue-cat-helpdesk-8{
    background-color: #4CAF50;
}

.issue-cat-text-0{
    color: #ffffff;
}

.issue-cat-text-1{
    color: #212121;
}

.issue-cat-text-2{
    color: #e91e63;
}

.issue-cat-text-3{
    color: #9c27b0;
}

.issue-cat-text-4{
    color: #673ab7;
}

.issue-cat-text-5{
    color: #3f51b5;
}

.issue-cat-text-6{
    color: #2196f3;
}

.issue-cat-text-7{
    color: #03a9f4;
}

.issue-cat-text-8{
    color: #00bcd4;
}

.issue-cat-text-9{
    color: #009688;
}

.issue-cat-text-10{
    color: #4caf50;
}

.issue-cat-text-11{
    color: #8bc34a;
}

.issue-cat-text-12{
    color: #cddc39;
}

.issue-cat-text-13{
    color: #ffeb3b;
}

.issue-cat-text-14{
    color: #ffe107;
}

.issue-cat-text-15{
    color: #ff9800;
}

.issue-cat-text-16{
    color: #ff5722;
}

.issue-cat-text-17{
    color: #f44336;
}

/* ISSUE DETAIL MODAL */

.modal.modal-issue-detail .modal-content{
    border: 0;
    border-radius: 0px;
}

.modal.modal-issue-detail .modal-content .modal-body{
    padding: 0;
}

.modal.modal-issue-detail .modal-content .modal-body .post-section{
    border: 0;
}

.issue-category.helpdesk-status {
    width: 30px;
}
.issue-category.helpdesk-category {
    right: 45px;
}
.right-side.in-modal {
    position: absolute;
    right: -15px;
    top: 0;
    margin: 0;
}
.in-modal .issue-category{
    padding: 10px 17px;
    width: 45px;
    text-align: center;
}
.in-modal .issue-category.helpdesk-status {
    width: 45px;
}
.in-modal .issue-category.helpdesk-category {
    right: 60px;
    width: auto;
}

ul.issue-tab{
    padding-top: 10px;
    border-bottom: none;
    margin-bottom: 15px;
}

ul.issue-tab > li{
    margin-right: 15px;
}

ul.issue-tab > li > a{
    padding: 5px 0;
    font-size: 14px; 
    border: none;
}

ul.issue-tab > li > a:hover{
    background-color: transparent;
}

ul.issue-tab > li.active > a{
    font-size: 14px;
    color: #00b65c;
    border: none;
    border-bottom: 2px solid #00b65c;
}

ul.issue-tab > li.active > a:hover, ul.issue-tab > li.active > a:focus{
    color: #00b65c;
    border: none;
    border-bottom: 2px solid #00b65c;
}

.task-detail{
    padding: 45px 26px 24px;
}

.comment_content {
    /*display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;*/
}

.comment_content p {
    margin-bottom: 0px;
    color: #72726A;
}

.comment-content{
    margin-bottom: 10px;
}

.table-bordered{
    border: none;
}

.table thead{
    background-color: #fff;
    color: #333;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    border: none;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 15px;
}

.main-title-mini{
    position: absolute;
    top: 12px;
    color: #aaa;
    font-size: 12px;
}

/* Select2 custom style */
.select2-container--default .select2-selection--multiple{
    border: none;
    padding-left: 3px;
}

.select2-container--default .select2-selection--multiple > ul.select2-selection__rendered > li > input.select2-search__field::placeholder{
    color: #BBB;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #E1F3FF;
    border: 1px solid #B8E0FB;
    border-radius: 0px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 3px 7px;
    font-size: 12px;
    color: #5F8AA8;
}

span.select2-selection.select2-selection--multiple.post-new-input-author{
    padding-left: 10px;
    margin-left: 10px;
}

span.select2-selection.select2-selection--multiple.post-new-input-author > ul.select2-selection__rendered > li > input.select2-search__field::placeholder{
    color: #BBB;
    font-weight: 700;
}

span.select2-selection.select2-selection--multiple.post-new-input-author > ul.select2-selection__rendered > li.select2-selection__choice {
    background-color: #abfbae;
    border: 1px solid #19e333;
    color: #0c6d10;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #f56954;
    margin-right: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: none;
}

.input-group.timespan input {
    padding: 8px 15px;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.input-group.timespan .input-group-addon{
    border: none;
    padding: 8px 15px;
    background: transparent;
    font-weight: 700;
}

@media( max-width : 992px ){
    .rsidebar-task-date-big{
        font-size: 14px;
        width: 35%;
    }
    .rsidebar-date-year{
        font-size: 17px;
    }
    .rsidebar-task-title-big{
        width: 65%;
        font-size: 11px;
    }
    .rsidebar-group{
        height: 50px;
    }
    .rsidebar-group-category{
        font-size: 9px;
        padding: 1px 8px;
    }
    .rsidebar-group-image{
        width: 48px;
        height: 48px;
    }
    .rsidebar-group-title{
        font-size: 11px;
        padding-left: 6px;
        top: 9px;
    }
    .rsidebar-group-owner{
        font-size: 9px;
        padding-left: 6px;
        top: 30px;
    }
}

.table-bordered{
    border: none;
}

.table thead{
    background-color: #fff;
    color: #333;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    border: none;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 15px;
}

.main-title-mini{
    position: absolute;
    top: 12px;
    color: #aaa;
    font-size: 12px;
}

/* Select2 custom style */
.select2-container--default .select2-selection--multiple{
    border: none;
    padding-left: 3px;
}

.select2-container--default .select2-selection--multiple > ul.select2-selection__rendered > li > input.select2-search__field::placeholder{
    color: #BBB;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #E1F3FF;
    border: 1px solid #B8E0FB;
    border-radius: 0px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 3px 7px;
    font-size: 12px;
    color: #5F8AA8;
}

span.select2-selection.select2-selection--multiple.post-new-input-author{
    padding-left: 10px;
    margin-left: 10px;
}

span.select2-selection.select2-selection--multiple.post-new-input-author > ul.select2-selection__rendered > li > input.select2-search__field::placeholder{
    color: #BBB;
    font-weight: 700;
}

span.select2-selection.select2-selection--multiple.post-new-input-author > ul.select2-selection__rendered > li.select2-selection__choice {
    background-color: #abfbae;
    border: 1px solid #19e333;
    color: #0c6d10;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #f56954;
    margin-right: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: none;
}

.input-group.timespan input {
    padding: 8px 15px;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.input-group.timespan .input-group-addon{
    border: none;
    padding: 8px 15px;
    background: transparent;
    font-weight: 700;
}

@media( max-width : 992px ){
    .rsidebar-task-date-big{
        font-size: 14px;
        width: 35%;
    }
    .rsidebar-date-year{
        font-size: 17px;
    }
    .rsidebar-task-title-big{
        width: 65%;
        font-size: 11px;
    }
    .rsidebar-group{
        height: 50px;
    }
    .rsidebar-group-category{
        font-size: 9px;
        padding: 1px 8px;
    }
    .rsidebar-group-image{
        width: 48px;
        height: 48px;
    }
    .rsidebar-group-title{
        font-size: 11px;
        padding-left: 6px;
        top: 9px;
    }
    .rsidebar-group-owner{
        font-size: 9px;
        padding-left: 6px;
        top: 30px;
    }
}



@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    
    .header-title {
	   padding: 0 15px;
    }
}

