  .command{
    margin-left: 0px;
    width:70px;
    height:35px;
  }
  .menu{
    background: rgba(255, 255, 255, 1);
        width: 200px;
    box-shadow: 3px 3px 5px #888888;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        position: fixed;
        display: none;
    }
    .menu-item{
      padding:5px;
    height: 27px;
  }
    .menu-item:hover{
    background-color: #6CB5FF;
        cursor: pointer;
    }
    .menu-item-detail{
    display:inline;
    vertical-align: top;
    line-height: 18px;
    }
    #t1 th{
      border: 3px solid #ddd;
      border-collapse: collapse;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
  }
  #t1 th, #t1 td{
    padding: 10px 15px;
     text-overflow:ellipsis;
  }
    #tDetail tr td:first-child{
        color:#757575;
        vertical-align: top;
    }
  #t1 tr.clickable-row{
    cursor:pointer;
  }
  #t1 tr.clickable-row2{
    cursor:pointer;
  }
  #t1 tr:nth-child(even) {
      background-color: #f5f5f5;
  }
  #t1 tr:nth-child(odd) {
      background-color: #fff;
  }

  #tDetail th,td{
    padding: 8px;
  }
  #tDetail th, #tDetail td{
     padding: 5px !important;
     font-weight: bold;
       
  }
    #tDetail, #tAktifitas, #tHistory, #tDetail label, #tAktivitas label, #tHistory label {
        font-size:13px; 
        margin:0;
    }
    .icon-edit{
        cursor:pointer;
        padding:10px;
    }
    .icon-edit:hover{
        background:#eee;
        border-radius:50px;
    }
