@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(../fonts/kaushin_script.woff2) format('woff2'), url(../fonts/kaushan_script.woff) format('woff');
}