@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z6kvm2');
  src:  url('../fonts/icomoon.eot?z6kvm2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z6kvm2') format('truetype'),
    url('../fonts/icomoon.woff?z6kvm2') format('woff'),
    url('../fonts/icomoon.svg?z6kvm2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-io-video:before {
  content: "\e931";
}
.icon-io-arrow-down:before {
  content: "\e900";
}
.icon-io-arrow-up:before {
  content: "\e901";
}
.icon-io-book:before {
  content: "\e902";
}
.icon-io-calendar:before {
  content: "\e903";
}
.icon-io-check:before {
  content: "\e904";
}
.icon-io-check-green .path1:before {
  content: "\e905";
  color: rgb(0, 182, 92);
}
.icon-io-check-green .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-io-dashboard:before {
  content: "\e907";
}
.icon-io-download:before {
  content: "\e908";
}
.icon-io-friend:before {
  content: "\e909";
}
.icon-io-group:before {
  content: "\e90a";
}
.icon-io-hashtag:before {
  content: "\e90b";
}
.icon-io-home:before {
  content: "\e90c";
}
.icon-io-list:before {
  content: "\e90d";
}
.icon-io-lock:before {
  content: "\e90e";
  color: #cf4300;
}
.icon-io-logout:before {
  content: "\e90f";
}
.icon-io-megaphone:before {
  content: "\e910";
}
.icon-io-notifications:before {
  content: "\e911";
}
.icon-io-picture:before {
  content: "\e912";
}
.icon-io-plus:before {
  content: "\e913";
}
.icon-io-profpic .path1:before {
  content: "\e914";
  color: rgb(99, 99, 88);
}
.icon-io-profpic .path2:before {
  content: "\e915";
  margin-left: -0.9462890625em;
  color: rgb(81, 81, 71);
}
.icon-io-profpic .path3:before {
  content: "\e916";
  margin-left: -0.9462890625em;
  color: rgb(234, 234, 225);
}
.icon-io-profpic .path4:before {
  content: "\e917";
  margin-left: -0.9462890625em;
  color: rgb(198, 197, 175);
}
.icon-io-profpic .path5:before {
  content: "\e918";
  margin-left: -0.9462890625em;
  color: rgb(198, 197, 175);
}
.icon-io-profpic .path6:before {
  content: "\e919";
  margin-left: -0.9462890625em;
  color: rgb(198, 197, 175);
}
.icon-io-profpic .path7:before {
  content: "\e91a";
  margin-left: -0.9462890625em;
  color: rgb(170, 168, 143);
}
.icon-io-profpic .path8:before {
  content: "\e91b";
  margin-left: -0.9462890625em;
  color: rgb(170, 168, 143);
}
.icon-io-profpic .path9:before {
  content: "\e91c";
  margin-left: -0.9462890625em;
  color: rgb(76, 76, 76);
}
.icon-io-profpic .path10:before {
  content: "\e91d";
  margin-left: -0.9462890625em;
  color: rgb(58, 58, 56);
}
.icon-io-profpic .path11:before {
  content: "\e91e";
  margin-left: -0.9462890625em;
  color: rgb(76, 76, 76);
}
.icon-io-profpic .path12:before {
  content: "\e91f";
  margin-left: -0.9462890625em;
  color: rgb(234, 234, 225);
}
.icon-io-profpic .path13:before {
  content: "\e920";
  margin-left: -0.9462890625em;
  color: rgb(234, 234, 225);
}
.icon-io-profpic .path14:before {
  content: "\e921";
  margin-left: -0.9462890625em;
  color: rgb(224, 219, 211);
}
.icon-io-profpic .path15:before {
  content: "\e922";
  margin-left: -0.9462890625em;
  color: rgb(81, 81, 71);
}
.icon-io-profpic .path16:before {
  content: "\e923";
  margin-left: -0.9462890625em;
  color: rgb(81, 81, 71);
}
.icon-io-profpic .path17:before {
  content: "\e924";
  margin-left: -0.9462890625em;
  color: rgb(114, 114, 106);
}
.icon-io-profpic .path18:before {
  content: "\e925";
  margin-left: -0.9462890625em;
  color: rgb(99, 99, 88);
}
.icon-io-profpic .path19:before {
  content: "\e926";
  margin-left: -0.9462890625em;
  color: rgb(114, 114, 106);
}
.icon-io-profpic .path20:before {
  content: "\e927";
  margin-left: -0.9462890625em;
  color: rgb(204, 164, 131);
}
.icon-io-profpic .path21:before {
  content: "\e928";
  margin-left: -0.9462890625em;
  color: rgb(219, 180, 145);
}
.icon-io-profpic .path22:before {
  content: "\e929";
  margin-left: -0.9462890625em;
  color: rgb(219, 180, 145);
}
.icon-io-profpic .path23:before {
  content: "\e92a";
  margin-left: -0.9462890625em;
  color: rgb(204, 164, 131);
}
.icon-io-profpic .path24:before {
  content: "\e92b";
  margin-left: -0.9462890625em;
  color: rgb(57, 60, 61);
}
.icon-io-profpic .path25:before {
  content: "\e92c";
  margin-left: -0.9462890625em;
  color: rgb(204, 164, 131);
}
.icon-io-public:before {
  content: "\e92d";
  color: #00b65c;
}
.icon-io-search:before {
  content: "\e92e";
}
.icon-io-stats:before {
  content: "\e92f";
}
.icon-io-user:before {
  content: "\e930";
}
.icon-io-file:before {
  content: "\e932";
}
.icon-io-gear:before {
  content: "\e933";
}
