html,body{
  overflow-x: hidden!important;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: #fff;
  font-size: 15px;
/*
  background-image: url(../img/pattern/pat_03.png), url(../img/bg.jpg);
    background-repeat: repeat, no-repeat;
    background-position: bottom;
    background-size: 5px 5px, cover;
*/
}

.hidden-style{
    margin-top:80px !important;  
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2)
}

.styling-new{
    background-color: #fff;
    height: 550px;
    padding: 1% 3% 3% 3%;
}

.carousel-new{
    background-color: #000;
    height: 550px;
    background: linear-gradient(to top left, #4facfe 0%, #00f2fe 100%);
    padding: 0px;
}

.lefting{
    background-image: linear-gradient(to right,rgba(250,250,250 ,0.7) 0,rgba(79, 172, 254, 0) 100%) !important;
}

.righting{
        background-image: linear-gradient(to left,rgba(250,250,250 ,0.7) 0,rgba(79, 172, 254, 0) 100%) !important;
}

#main_cont {
    background: rgba(255,255,255,0.5);
/*     background-image: url(../img/bg-login.jpeg); */
/*    padding: 40px 20px;*/
    width: 1030px; /* CUSTOM */
    margin: 0 auto;
    border-radius: 6px;
}
.main-cover{
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(187,222,251 ,0.76);
    padding: 100px 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.carousel-inner > .item {
  height: 550px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
  width: auto;
}


.login-bg{
    border: 0px solid !important;
    padding: 4% 42%;
    background: linear-gradient(to left, #4facfe 0%, #00f2fe 100%);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2) !important;
    color: #fff;
    font-family: Source sans pro, sans-serif;
    font-size: 20px;
}

.login-bg:hover{
    border: 0px solid !important;
    padding: 4% 42%;
    background: linear-gradient(to left, #4facfe 0%, #00f2fe 100%);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0px 13px 13px 0 rgba(0, 0, 0, 0.1) !important;
    color: #fff;
    font-family: Source sans pro, sans-serif;
    font-size: 20px;
}

.input-cover{
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(187,222,251 ,0.76);
    padding: 100px 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.news-cover{
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(187,222,251 ,0.76);
    padding: 100px 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.login-mobile{
    background-image: url(../img/bg-login.jpeg);
    background-position: center;
}
.login-mobile .main-cover{
    padding: 120px 30px 170px;
    border-radius: 0px;
}
.form-box {
  width: 360px; /* CUSTOM */
}
.form-group {
  margin-bottom: 10px; /* CUSTOM */
}

.login-box{
    padding: 0 20px;
}

.brand-img img {
    width: 130px;
    margin-bottom: 25px;
}

.brand-motto {
    font-size: 30px;
    font-family: "Lato";
    color: #fff;
    line-height: 1.5;
    margin-bottom: 25px;
}

.brand-description {
    color: #fff;
    font-family: "Lato";
    line-height: 1.8;
    font-size: 13px;
}

.vertical-divider {
    width: 2px;
    height: 20em;
    position: absolute;
    right: 30px;
    background: #fff;
}

.login-intro {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

label.login-label {
    color: #616161;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 8px;
}

.form-control.login-form{
    margin-bottom: 16px;
}

.login-bottom{
    margin-top: 24px;
}

.btn-login{
    padding: 8px 20px;
}

.btn-login-new{
background-color: #FBC02D;
    color: #fff;
    font-family: Lato,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 14px;
}


.login-link{
    margin-top: 8px;
    color: #ddd;
    transition: all 0.3s ease;
}

.login-link:hover{
    color: #fff;
}

.login-message {
    font-weight: 700;
    background: #FBE9E7;
    padding: 8px 15px;
    font-size: 12px;
/*     border-left: 8px solid #EB5757; */
    color: #EB5757;
/*     margin-bottom: 8px; */
}



/* CUSTOM */
@media screen and (max-width: 830px){
    #main_cont{
        width: 750px;
    }
}
@media screen and (max-width: 420px) {
#main_cont {
  width: 100%;
}
.form-box {
  width: 95%;
}
}


