/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    /* padding-top: 15px; */
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links{
      padding:0;
    }
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        padding:0px 15px !important;
        float:left;
        list-style:none;
        /* border-bottom: 3px solid #f5a425; */
    }
    .tab-links li.active {
          border-bottom: 3px solid #56baed;

    }
    .tab-links li:hover{
        border-bottom: 3px solid #9E9E9E;
    }
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
/*             background:#FFFFFF; */
            font-size:16px;
            font-weight:600;
            color:#9E9E9E;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            color: #4c4c4c;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
/*         background:#fff; */
        color: #56baed;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:0px 15px 0px 15px;
        border-radius:3px;
        /* box-shadow:-1px 1px 1px rgba(0,0,0,0.15); */
        background:#fff;

    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }


.tabsEdit{
    /* border-left: 2px solid #E0E0E0; */
}