.tree {
    /*min-height:10px;
    padding:19px;
    margin-bottom:20px;*/
}

.tree ul{
	padding-left:20px;
}
.tree > ul{
	padding:0;
	margin:0;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding: 0px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-5px;
    position:absolute;
    right:auto}
.tree li::before {
    border-left:1px dotted #999;
    bottom: 50px;
    height: 100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px dotted #999;
    height:20px;
    top: 10px;
    width:10px;
}
.tree li span {
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    color:#000
}